@use "../tokens/color" as *;
@use "../tokens/font" as *;
@use "../tokens/spacing" as *;

html {
  font-family: $font-stack-body;
  color: $color-grey-90;
}

p,
a,
li {
  line-height: $line-height-body;
  font-weight: 300;
}

li p {
  margin: 0;
}

a {
  color: $color-teal-80;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:has(i),
  &:has(img) {
    text-decoration: none;
    line-height: 0;
  }
}

blockquote {
  border-left: 4px solid $color-grey-90;
  padding: 0 $padding-block;
  margin-left: $padding-block;
}

dl {
  dt,
  dd {
    line-height: $line-height-body;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: $padding-block;
  }
}
