@use "../tokens/color" as *;
@use "../tokens/font" as *;
@use "../tokens/spacing" as *;

.iati-code {
  font-family: $font-stack-monospace;
  background-color: $color-grey-10;
  color: #000;
  border: 1px solid $color-grey-20;
  padding: 0.1em 0.2em;

  &--block {
    display: block;
    padding: $padding-block;
    overflow-x: scroll;
  }
}

.iati-kbd {
  @extend .iati-code;

  .iati-kbd {
    border: none;
  }
}
