$color-blue-10: #f0feff;
$color-blue-20: #b6f6f9;
$color-blue-30: #7bedf2;
$color-blue-40: #41e4eb;
$color-blue-50: #06dbe4;
$color-blue-60: #09b6bd;
$color-blue-70: #0b9095;
$color-blue-80: #0e6a6e;
$color-blue-90: #104446;

$color-teal-10: #e6f9fe;
$color-teal-20: #cae6ef;
$color-teal-30: #add3df;
$color-teal-40: #90c0cf;
$color-teal-50: #73adbf;
$color-teal-60: #5c97a9;
$color-teal-70: #448093;
$color-teal-80: #2d6a7d;
$color-teal-90: #155366;

$color-green-10: #ebfffa;
$color-green-20: #b0eddf;
$color-green-30: #75dfc7;
$color-green-40: #3bd2af;
$color-green-50: #00c497;
$color-green-60: #05ab85;
$color-green-70: #0a9172;
$color-green-80: #0f775f;
$color-green-90: #145d4c;

$color-orange-10: #fff0f0;
$color-orange-20: #ffc3be;
$color-orange-30: #ffa8a0;
$color-orange-40: #ff8d82;
$color-orange-50: #ff7264;
$color-orange-60: #db584b;
$color-orange-70: #b73e32;
$color-orange-80: #932419;
$color-orange-90: #6e0900;

$color-red-10: #fff0f3;
$color-red-20: #fabdc8;
$color-red-30: #f98fa2;
$color-red-40: #f8617d;
$color-red-50: #f73357;
$color-red-60: #d32c4b;
$color-red-70: #af243e;
$color-red-80: #8b1d31;
$color-red-90: #6d091b;

$color-purple-10: #f6f0ff;
$color-purple-20: #dfcbf6;
$color-purple-30: #ccacf2;
$color-purple-40: #b98dee;
$color-purple-50: #a66ee9;
$color-purple-60: #8b54cc;
$color-purple-70: #6f3aaf;
$color-purple-80: #542092;
$color-purple-90: #380674;

$color-grey-10: #f6f6f6;
$color-grey-20: #dadada;
$color-grey-30: #bdbdbd;
$color-grey-40: #a1a1a1;
$color-grey-50: #848484;
$color-grey-60: #686868;
$color-grey-70: #4b4b4b;
$color-grey-80: #2f2f2f;
$color-grey-90: #121212;
