@use "../../tokens/color" as *;
@use "../../tokens/font" as *;
@use "../../base/mixins";

.iati-piped-list {
  @include mixins.unstyled-list();
  display: flex;
  flex-wrap: wrap;
  & > * {
    line-height: 1;
    padding: 0.2em;
    &:not(:first-child) {
      padding-left: 1em;
    }
    &:not(:last-child) {
      border-right: 1px solid black;
      padding-right: 1em;
    }
  }
}
