@use "../tokens/screens" as *;

:root {
  --display: block;
}

.hide {
  display: none;
}

.hide--mobile-nav {
  display: none;
  @media (min-width: $mobile_nav_breakpoint) {
    display: var(--display);
  }
}

.display--sm {
  @media (min-width: $screen-sm) {
    display: var(--display);
  }
}
