@use "../tokens/color" as *;
@use "../tokens/spacing" as *;

@mixin page-width-container {
  width: 100%;
  max-width: $page-width-max;
  margin-inline-start: auto;
  margin-right: auto;
  padding: 0 $padding-block;
}

@mixin columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: $padding-block;
  row-gap: $padding-block;
}

@mixin unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li li {
    padding-inline-start: $padding-block;
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
