@use "../../tokens/color" as *;
@use "../../tokens/font" as *;
@use "../../base/mixins";
@use "../../tokens/screens" as *;

.iati-form {
  color: $color-grey-90;

  min-width: min(31.25rem, calc(100vw - 2rem));
  @media (min-width: $screen-md) {
    grid-template-columns: max-content 1fr;
  }

  &__inner {
    background-color: $color-teal-20;
    border: 1px solid $color-teal-50;
    display: grid;
    gap: 1rem;
    padding: 1rem;
  }

  &__item {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: start;
    gap: 0.2rem;
    @media (min-width: $screen-md) {
      gap: 1rem;
    }
  }

  &__label {
    font-weight: 600;
    grid-column: 1 / -1;
    @media (min-width: $screen-md) {
      text-align: start;
    }
  }

  &__input {
    max-width: 100%;
    border: 1px solid $color-teal-50;
    background-color: #fff;
    padding: 0.5em 1em;
    grid-column: -1 / 1;
  }

  &__submit {
    margin: 1rem 0;
    max-width: 100%;
    min-width: 6rem;
  }
}
