@use "../../tokens/color" as *;
@use "../../tokens/screens" as *;
@use "../../tokens/spacing" as *;
@use "../../base/mixins";

.iati-header {
  @include mixins.page-width-container();
  @include mixins.columns();
  background-color: $color-teal-90;
  background-color: white;
  flex-wrap: wrap;
  padding: $padding-block 3rem 0 3rem;

  &__logo {
    height: 40px;
    max-width: 100%;
    margin-bottom: $padding-block;

    @media (min-width: $screen-sm) {
      height: 56px;
    }
  }

  &__nav {
    @include mixins.unstyled-list();
    align-self: flex-end;
  }

  &__nav-item {
    display: inline-block;
    position: relative;
    margin: 0 0.2rem;

    & a {
      display: inline-block;
      padding: $padding-block 0.2rem;
      color: $color-grey-90;
      font-weight: 400;
      letter-spacing: 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
    }

    &::after {
      position: absolute;
      content: "";
      background-color: $color-teal-30;
      bottom: 0;
      height: 4px;
      right: 0;
      width: 0;
      transition: all ease-out 0.3s;
    }

    &:hover::after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}
