@use "../../tokens/color" as *;
@use "../../tokens/font" as *;
@use "../../tokens/spacing" as *;
@use "../../tokens/screens" as *;

.header-button {
  display: inline-flex;
  padding: 0.7em;
  font-family: $font-stack-heading;
  color: $color-grey-90;
  font-weight: 600;
  align-items: center;
  gap: 0.25em;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  line-height: 1.1;
  &:hover {
    background-color: $color-blue-30;
  }
}

.header-button__icon {
  width: 1rem;
}
