@use "../../tokens/color" as *;
@use "../../tokens/spacing" as *;

.iati-button {
  background-color: $color-teal-90;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: $padding-block;

  &:hover {
    background-color: $color-teal-80;
  }
}

.iati-button--submit {
  color: $color-grey-90;
  font-weight: 600;
  background-color: $color-green-50;
  &:hover {
    background-color: $color-green-40;
  }
}
