.iati-icon {
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;

  &--youtube {
    background-image: url("/src/assets/svg/youtube-logo.svg");
  }

  &--x {
    background-image: url("/src/assets/svg/x-logo.svg");
  }

  &--linkedin {
    background-image: url("/src/assets/svg/linkedin-logo.svg");
  }
}
