.iati-icon {
  display: inline-block;
  height: 36px;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &--info {
    background-image: url("/src/assets/svg/icon-info.svg");
  }

  &--search {
    background-image: url("/src/assets/svg/icon-search.svg");
  }

  &--globe {
    background-image: url("/src/assets/svg/icon-globe.svg");
  }

  &--youtube {
    background-image: url("/src/assets/svg/youtube-logo.svg");
    aspect-ratio: 1.2 / 1;
  }

  &--x {
    background-image: url("/src/assets/svg/x-logo.svg");
  }

  &--linkedin {
    background-image: url("/src/assets/svg/linkedin-logo.svg");
  }

  &--facebook {
    background-image: url("/src/assets/svg/facebook-logo.svg");
  }
}
