@use "../../tokens/color" as *;
@use "../../tokens/screens" as *;
@use "../../tokens/spacing" as *;
@use "../../base/mixins";

.iati-title-bar {
  position: relative;
  background-image: linear-gradient(
    0deg,
    darken($color-teal-90, 4%) 4%,
    $color-teal-90 20%
  );

  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 25%;
    background-image: url("http://styles.iatistandard.org/assets/svg/source/marque-white.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 90%;

    @media (min-width: $screen-lg) {
      background-size: 50%;
    }
  }

  &__title {
    display: block;
    @include mixins.page-width-container();
    color: white;
    font-weight: 500;
    font-size: 2.25rem;
    padding: $padding-block;
    padding-top: 3rem;
    padding-bottom: 2rem;
    position: relative;
    text-decoration: none;

    &::before {
      content: "";
      border-left: $border-width solid $color-teal-30;
      padding: 0 $padding-block;
    }
  }
}
